<section class="grid_12">
    <div class="add-large-img">
        <ul id="large_images">
            <li id="img0" class="hide current" style="display: inline;">
                <figure>
                    <figcaption>
                        <h3>
                        {{product.name}}
                        <a ng-href="/perfil/{{product.user._id}}">Por: {{product.user.name}} {{product.user.surname}}</a>
                        <span class="star-big">
                            <a id="disponibility_vote_128" class="item_vote " data-vote-id="128" data-vote-type="disponibilities" href="#"> </a>
                        </span>
                        </h3>
                    </figcaption>
                    <img width="940" height="420" ng-src="http://galateacasa-sp.s3-website-sa-east-1.amazonaws.com/images/items/{{product.images[0]}}">
                </figure>
            </li>
        </ul>
    </div>
    <div class="add-img-small extra-btm-space">
        <ul id="thumb_holder" class="product">
            <li class="grid_2 alpha" ng-repeat="image in product.images">
                <img width="140" height="62" ng-src="http://galateacasa-sp.s3-website-sa-east-1.amazonaws.com/images/items/{{image}}">
            </li>
        </ul>
    </div>
</section>
<section class="container_12 extra-btm-space">
    <form ng-submit="addToCart()">
        <section class="grid_12 add-to-cart-container product-page">
            <div class="report-box custom-select msr" style="width: 157px; margin-right: 15px;">
                <h2>Medidas (L x A x P)</h2>
                <select ng-model="cart.measure" id="measurement" class="styled variations" style="-webkit-appearance: menulist-button; width: 219px; position: absolute; opacity: 0; left: 0px; height: 25px;" name="measurement" ng-options="measure as measure.width + 'x' + measure.heigth + 'x' + measure.depth for measure in product.measures">
                    <option value="">Selecione uma medida</option>
                </select>
                <span class="customSelect styled customSelectChanged" style="display: inline-block; width: 140px !important;">
                    <span class="customSelectInner" style="width: 153px; display: inline-block;" ng-show="cart.measure">
                        {{cart.measure.width}} x {{cart.measure.heigth}} x {{cart.measure.depth}}
                    </span>
                    <span class="customSelectInner" style="width: 153px; display: inline-block;" ng-hide="cart.measure">
                        Selecione uma medida
                    </span>
                </span>
            </div>
            <div class="report-box custom-select msr" style="width: 330px; margin-right: 15px;">
                <h2>Acabamento</h2>
                <select ng-model="cart.material" id="material" class="styled variations" style="-webkit-appearance: menulist-button; width: 310px; position: absolute; opacity: 0; left: 0px; height: 25px;" name="material" ng-options="material as material.material for material in product.materials">
                    <option value="">Selecione um acabamento</option>
                </select>
                <span class="customSelect styled customSelectChanged" style="display: inline-block; width: 310px !important;">
                    <span class="customSelectInner" style="width: 153px; display: inline-block;" ng-show="cart.material">
                        {{cart.material.material}}
                    </span>
                    <span class="customSelectInner" style="width: 153px; display: inline-block;" ng-hide="cart.material">
                        Selecione uma acabamento
                    </span>
                </span>
            </div>
            <div class="report-box custom-select msr" style="width: 82px; margin-right: 15px;">
                <h2>Quantidade</h2>
                <input class="search-area float-l mid-text-box no-bg-img alpha extra-top-space" type="text" style="width: 70px !important; margin-top: 0px; height: 20px;" ng-model="cart.quantity">
            </div>
            <span class="report-box cart-btn float-r" style="width: 160px; margin-left: 0px !important;">
                <button class="link-btn blue" style="margin: 0;" type="submit">adicionar ao carrinho</button>
            </span>
            <div class="report-box grand-total float-r" style="width: 140px; margin-right: 5px;">
                <input id="price" class="variation money" type="text" ng-value="(product.price + cart.material.priceIncrease + cart.measure.priceIncrease) * cart.quantity" name="price">
                <label>total</label>
                <span class="remark">
                    10x de
                    <input id="total_instalments" class="money" type="text" ng-value="(product.price + cart.material.priceIncrease + cart.measure.priceIncrease)  * cart.quantity / 10">
                </span>
            </div>
        </section>
    </form>
    <section class="grid_6">
        <h2 class="extra-btm-space extra-top-space">Sobre o produto</h2>
        <p class="extra-btm-space">{{product.description}}</p>
        <br>
        <br>
        <h2 class="extra-btm-space extra-top-space"> Prazo de entrega: {{product.deadline}} dias </h2>
    </section>
    <section class="grid_6 omega extra-top-space">
        <section class="grid_6 omega alpha extra-btm-space">
            <img width="80" height="85" style="float: left;" ng-src="http://galateacasa-sp.s3-website-sa-east-1.amazonaws.com/images/users/{{product.user.photo}}">
            <article class="profile-des">
                <h2>
                    Designer
                    <small>
                        <a ng-href="#/perfil/{{product.user._id}}"> {{product.user.name}} {{product.user.surname}} </a>
                    </small>
                </h2>
                <p>{{product.user.about}}</p>
            </article>
        </section>
        <section class="grid_6 omega alpha no-under-l">
            <h2 class=" extra-btm-space">Informações técnicas</h2>
            <h3>Medidas</h3>
            <div ng-repeat="measure in product.measures">
                <p>Largura: {{measure.width}}cm</p>
                <p>Altura: {{measure.heigth}}cm</p>
                <p>Profundidade: {{measure.depth}}cm</p>
                <br>
            </div>
            <h3>Acabamentos</h3>
            <p ng-repeat="material in product.materials">{{material.material}}</p>
        </section>
    </section>
</section>
