<ng-include src="'/views/home/menu.html'"></ng-include>
<section class="grid_12">
    <nav class="brydcrumb">
        <ul>
            <li> Home </li>
            <li ng-class="{last : !subcategory.name}"> {{category.name}} </li>
            <li class="last" ng-show="subcategory.name"> {{subcategory.name}} </li>
        </ul>
    </nav>
</section>
<div class="banner-area c-banner">
    <img alt="" ng-src="http://galateacasa-sp.s3-website-sa-east-1.amazonaws.com/images/categories/{{category.image}}">
</div>
<nav class="grid_12 category-nav">
    <h2>
        {{subcategory.name}}
    </h2>
    <ul>
        <li ng-repeat="subcategoryOption in category.subcategories" ng-hide="subcategory.name === subcategoryOption.name">
            <a ng-href="#/categoria/{{category.slug}}/{{subcategoryOption.slug}}">{{subcategoryOption.name}}</a>
        </li>
    </ul>
</nav>
<section class="grid_12 main-content">
    <section class="filtros">
        <div class="sort-list">
            <ul>
                <li class="filter-name">organizar por:</li>
                <li class="border">
                    <a href="">menor preço</a>
                </li>
                <li>
                    <a href="">maior preço</a>
                </li>
            </ul>
        </div>
        <div class="sort-list">
            <ul>
                <li class="filter-name">filtrar por:</li>
                <li class="border">
                    <a href="">novidades</a>
                </li>
                <li>
                    <a class="current-sel" href="">tudo</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="category-container">
        <ul class="category">
            <li ng-repeat="product in products" class="product">
                <div class="product-image">
                    <figure>
                        <a ng-href="#/produto/{{product.slug}}">
                            <div class="jcarousel">
                                <ul>
                                    <li>
                                        <img ng-src="{{product.images[0].replace('upload/', 'upload/c_scale,w_380/')}}" style="height:100%; width:100%;" />
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </figure>
                </div>
                <a ng-href="#/produto/{{product.slug}}">
                    <h3>
                        <span style="word-wrap: break-word;" itemprop="name">{{product.name}}</span>
                    </h3>
                    <div class="white-box">
                        <div class="rate-new-container">
                            <span class="rate-new">{{(product.price) * 1.07 | currency:'R$'}}</span>
                        </div>
                        <span class="rate" itemprop="price">10 x {{(product.price) * 1.07 /10 | currency:'R$'}}</span>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</section>
