<div class="banner-area c-banner">
    <a href="http://www.galateacasa.com.br/produto/rack-americano">
        <img alt="" ng-src="category.image">
    </a>
</div>
<nav class="grid_12 category-nav">
    <ul>
        <li ng-repeat="subcategory in category.subcategories">
            <a ng-href="#/categoria/{{category._id}}/{{subcategory._id}}">{{subcategory.name}}</a>
        </li>
    </ul>
</nav>
<section class="grid_12 main-content">
    <section class="filtros">
        <div class="sort-list">
            <ul>
                <li class="filter-name">organizar por:</li>
                <li class="border">
                    <a href="http://www.galateacasa.com.br/categoria/sala-de-estar/?filter=&order=price_asc">menor preço</a>
                </li>
                <li>
                    <a href="http://www.galateacasa.com.br/categoria/sala-de-estar/?filter=&order=price_desc">maior preço</a>
                </li>
            </ul>
        </div>
        <div class="sort-list">
            <ul>
                <li class="filter-name">filtrar por:</li>
                <li class="border">
                    <a href="http://www.galateacasa.com.br/index.php/categoria/sala-de-estar/?filter=news&order=">novidades</a>
                </li>
                <li>
                    <a class="current-sel" href="http://www.galateacasa.com.br/index.php/categoria/sala-de-estar">tudo</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="category-container">
        <ul class="category">
            <li ng-repeat="product in products" class="product">
                <div class="product-image">
                    <figure>
                        <a ng-href="#/produto/{{product._id}}">
                            <div class="jcarousel">
                                <ul>
                                    <li>
                                        <img ng-src="{{product.images[0]}}" style="height:100%; width:100%;" />
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </figure>
                </div>
                <a ng-href="#/produto/{{product._id}}">
                    <h3>
                        <span style="word-wrap: break-word;" itemprop="name">{{product.name}}</span>
                    </h3>
                    <div class="white-box">
                        <div class="rate-new-container">
                            <span class="rate-new">R$ {{product.price}}</span>
                        </div>
                        <span class="rate" itemprop="price">10 x R$ {{product.price/10}}</span>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</section>
