# URL rewriten
RewriteEngine On
RewriteCond $1 !^(index\.php|images|assets|robots\.txt|sitemap\.xml|pinterest-dfc78\.html)
RewriteRule ^(.*)$ /index.php/$1 [L]

# Redirecionar acesso SEM WWW para a url COM WWW
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Permantely redirects
redirect 301 /ambiente/tudo http://www.galateacasa.com.br/categoria/novidades
redirect 301 /ambiente/sala_de_estar http://www.galateacasa.com.br/categoria/sala-de-estar
redirect 301 /ambiente/sala_de_jantar http://www.galateacasa.com.br/categoria/sala-de-jantar
redirect 301 /ambiente/quarto http://www.galateacasa.com.br/categoria/quarto
redirect 301 /ambiente/exterior http://www.galateacasa.com.br/categoria/exterior
redirect 301 /ambiente/home_office http://www.galateacasa.com.br/categoria/home-office
redirect 301 /ambiente/iluminacao http://www.galateacasa.com.br/categoria/iluminacao
redirect 301 /ambiente/objetos http://www.galateacasa.com.br/categoria/decoracao-e-acessorios
redirect 301 /projetos http://www.galateacasa.com.br/categoria/vote
redirect 301 /designers http://www.galateacasa.com.br/institucional/designer
redirect 301 /fornecedores http://www.galateacasa.com.br/institucional/fornecedor
redirect 301 /decoradores http://www.galateacasa.com.br/institucional/decorador
redirect 301 /contato http://www.galateacasa.com.br/atendimento
redirect 301 /paginas/cuidados http://www.galateacasa.com.br/institucional/cuidados-com-a-mobilia
redirect 301 /paginas/garantias http://www.galateacasa.com.br/institucional/garantia
redirect 301 /paginas/seguranca_privacidade http://www.galateacasa.com.br/institucional/termos-e-condicoes
redirect 301 /compras/status_compra http://www.galateacasa.com.br/meus-pedidos
redirect 301 /compras/meu_carrinho http://www.galateacasa.com.br/carrinho-de-compras
redirect 301 /produto/tocheiro_farol http://www.galateacasa.com.br/produto/tocheiro-farol
redirect 301 /produto/rack_americano http://www.galateacasa.com.br/produto/rack-americano
redirect 301 /produto/travessas_cincenum http://www.galateacasa.com.br/produto/travessas-cincenum
redirect 301 /produto/vaso_cactus http://www.galateacasa.com.br/produto/vaso-cactu
redirect 301 /produto/vaso_solitario http://www.galateacasa.com.br/produto/vaso-solitario
redirect 301 /produto/mesa_filo_quadrada http://www.galateacasa.com.br/produto/mesa-de-jantar-filo-quadrada
redirect 301 /produto/travessas_oitenum http://www.galateacasa.com.br/produto/travessas-oitenu
redirect 301 /produto/gaveteiro_simon_-_torre http://www.galateacasa.com.br/produto/torre-simo
redirect 301 /produto/gaveteiro_simon http://www.galateacasa.com.br/produto/comoda-simon-6-gavetas
redirect 301 /produto/criado_mudo_simon http://www.galateacasa.com.br/produto/criado-mudo-simo
redirect 301 /produto/mesa_lateral_orange http://www.galateacasa.com.br/produto/mesa-lateral-orang
redirect 301 /produto/mesa_lateral_leve http://www.galateacasa.com.br/produto/mesa-lateral-lev
redirect 301 /produto/mesa_de_centro_oca http://www.galateacasa.com.br/produto/mesa-de-centro-oca
redirect 301 /produto/rack_rip http://www.galateacasa.com.br/produto/rack-rip
redirect 301 /produto/mesa_filo http://www.galateacasa.com.br/produto/mesa-de-jantar-filo-retangular
redirect 301 /produto/banco_ripa_pequeno http://www.galateacasa.com.br/produto/banco-ripa-pequeno
redirect 301 /produto/banqueta_lili http://www.galateacasa.com.br/produto/banqueta-lil

# Cache de arquivos
ExpiresActive On
ExpiresByType image/gif "access plus 6 months"
ExpiresByType image/jpeg "access plus 6 months"
ExpiresByType image/png "access plus 6 months"
ExpiresByType text/css "access plus 6 months"
ExpiresByType text/javascript "access plus 6 months"
ExpiresByType application/javascript "access plus 6 months"
