<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <h2>Móveis incríveis não precisam custar uma fortuna</h2>
                <br />
                <img src="images/howPrice.jpg" alt="Por que nossos móveis são mais baratos que os da concorrência?" />
                <br />
                <br />
                <p>
                    GALATEA é um novo modelo no mercado da alta movelaria. Nasceu de um pequeno grupo de apaixonados por design e decoração que não se conformava em ter de gastar uma fortuna para mobiliar suas casas com móveis fantásticos e de excelente qualidade ou então optar por móveis mais baratos, mas com um padrão muito inferior. Estudando o assunto descobrimos que, ao conectar quem cria e quem compra móveis, é possível eliminar vários custos desnecessários. E obter móveis incríveis a preços justos de uma maneira em que todo mundo sai ganhando.
                </p>
                <p>
                    Essa ideia é a GALATEA. Conectamos pessoas, tiramos boas ideias do papel e entregamos móveis de qualidade na sua casa. E o melhor: com a mesma qualidade das lojas de alto padrão mas a um preço até seis vezes menor.
                </p>
                <br /><br />
                <h3>Como?</h3>
                <p>
                    Somos uma comunidade que aproxima quem é apaixonado por decoração, designers, arquitetos e fabricantes de móveis. Criando o menor caminho entre quem cria e quem consome, conseguimos eliminar vários custos desnecessários - e de um jeito em que todos que participam do processo saem ganhando.
                </p>
                <br />
                <p>De uma boa ideia a um móvel de qualidade</p>
                <br />
                <p>1. Designers apresentam suas melhores ideias à GALATEA;</p>
                <br />
                <p>2. As mais interessantes vão à votação do público;</p>
                <br />
                <p>3. O público escolhe o seu design preferido;</p>
                <br />
                <p>4. A GALATEA investe no projeto, faz protótipos e o transforma em produto; </p>
                <br />
                <p>5. Fornecedores se preocupam apenas em produzir. A GALATEA faz pedidos “on demand”, a risco zero;</p>
                <br />
                <p>6. O designer tem seu trabalho produzido e recebe royalties a cada peça vendida;</p>
                <br />
                <p>7. O público tem a chance de comprar um móvel de qualidade de acordo com o seu gosto e a um preço muito mais vantajoso do que encontraria numa loja convencional.</p>
                <br /><br />
                <div itemscope itemtype="http://schema.org/Organization">
                    <p itemprop="name">Galatea Casa Moveis Ltda EPP</p>
                    <div itemscope itemtype="http://schema.org/PostalAddress">
                        <p itemprop="streetAddress">Rua Fidencio Ramos, nº101 – Conj 104</p>
                        <p itemprop="addressLocality">Vila Olimpia, São Paulo, SP</p>
                        <p>CNPJ 14.028.094/0001-11</p>
                        <p itemprop="email"><a href="mailto:contato@galateacasa.com.br">contato@galateacasa.com.br</a></p>
                    </div>
                </div>
                <br /><br />
                <h3>Quem somos?</h3>
                <p>
                    Somos um pequeno grupo de apaixonados por design e decoração que não se conformava em ter de gastar uma fortuna para mobiliar nossas casas.
                </p>
                <br />
                <p>
                    Em lojas de alto padrão, o preço de um móvel chega a ser 6 vezes maior do que o que ele custou para ser produzido. Nas grandes cadeias, a qualidade é comprometida para manter os preços baixo. A GALATEA procura o melhor das duas situações: qualidade a preço justo.
                </p>
                <br />
                <p>
                    Oferecemos móveis com o mesmo cuidado de produção e design das lojas de luxo, mas com margem de 4 a 6 vezes mais baixa. Na GALATEA, acreditamos que os nossos móveis têm de ser incríveis. Não a nossa margem de lucro. Para isso, otimizamos a eficiência da nossa cadeia produtiva, com transparência durante todo o processo e selecionamos apenas os parceiros mais criativos e competentes - desde o rascunho de uma ideia incrível até a entrega do móvel com o cuidado necessário na casa do cliente.
                </p>
                <br />
                <h3>CINCO VANTAGENS DE COMPRAR NA GALATEA</h3>
                <p>1. Sob demanda. Sem o risco de estoques “encalhados”, o preço cai.</p>
                <br />
                <p>2. Online. Sem o custo de uma loja física, o preço cai.</p>
                <br />
                <p>3. Qualidade. Sempre escolhemos os melhores materiais e os fabricantes mais qualificados para cada tipo de móvel.</p>
                <br />
                <p>4. Design. O próximo grande nome do design pode estar aqui. Fique de olho.</p>
                <br />
                <p>5. Eficiência. Nosso processo baseado em crowdsourcing aproveita conhecimentos coletivos para criar conceitos e soluções inteligentes para nossos móveis. Várias cabeças pensam melhor que uma.</p>
                <br />
                <h3>VEJA ONDE VOCÊ SE ENCAIXA NA REDE GALATEA</h3>
                <p><a href="#/institucional/cliente">Clientes | Móveis de qualidade e design exclusivo a preços justos</a></p>
                <p>- Móveis de alto padrão a preços justos por meio de crowdsourcing </p>
                <p>- Processo participativo em que a sua opinião conta e vale descontos</p>
                <p>- Oportunidade de interação com designers e arquitetos </p>
                <p>- Espaço de decoração na internet com ideias e sugestões para a sua casa</p>
                <br />
                <p><a href="#/institucional/designer">Designers | Sua ideia vira produto</a></p>
                <p>- Chance de ter seus projetos transformados em produtos</p>
                <p>- Processo transparente com 5% de royalties por cada móvel vendido</p>
                <p>- Oportunidade de divulgação do seu trabalho </p>
                <br />
                <p><a href="#/institucional/decorador">Arquitetos e decoradores | Seu trabalho e bom gosto valem dinheiro</a></p>
                <p>- Galeria de imagens em que sugestões convertidas em compras valem dinheiro</p>
                <p>- Oportunidade de conhecer novos talentos do design em primeira mão</p>
                <p>- Móveis originais e exclusivos para o seu próximo projeto de decoração </p>
                <br />
                <p><a href="#/institucional/fornecedor">Fabricantes | Pedidos novos para você todos os meses</a></p>
                <p>- Foco na produção - toda a parte comercial, de marketing e de design ficam por conta da GALATEA</p>
                <p>- Produção regional fortalecida - a GALATEA incentiva a economia local preferindo sempe produtores brasileiros</p>
                <p>- Otimização de produção, custos e minimização de riscos</p>
                <p>- Praticidade: você escolhe o que produzirá, e a que custo</p>
                <br />
                <h3>O nome GALATEA</h3>
                <p>
                    Vem do mito do rei Pigmaleão, que um dia decidiu esculpir a mulher ideal. Pigmaleão caprichou tanto e criou uma mulher tão linda, mas tão linda, que ele logo se apaixonou perdidamente pela estátua. Mas, claro, o rei não era feliz ao lado de uma pedra. Pedia aos deuses que um dia ela ganhasse vida. Atendendo às preces, a Deusa Afrodite transformou GALATEA em mulher de carne e osso. Os dois se casaram e tiveram um filho.
                </p>
                <br />
                <p>
                    Assim como no mito, nós da GALATEA temos como missão a busca pelo design ideal e nosso grande objetivo é dar vida aos melhores projetos de móveis. Para tanto, não contamos com os poderes de Afrodite, mas com a sua colaboração no modelo <a href="http://pt.wikipedia.org/wiki/Crowdsourcing" target="_blank">crowdsourcing</a>
                </p>
            </section>
        </div>
    </section>
</section>
