<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <section class="about">
                    <h2>Dicas</h2>
                    <p>Nossos móveis são feitos para durar, e existem alguns cuidados que ajudam a preservar a sua peça ainda mais. Elaboramos aqui dicas de conservação para nossos produtos.</p>
                    <p>Nunca arraste seu móvel. Sempre levante a peça para não comprometer a estrutura. Vale lembrar que é melhor esvaziar o conteúdo para evitar acidentes e para que fique mais fácil o seu transporte.</p>
                    <h3>Para os móveis com acabamento em madeira</h3>
                    <p><strong>Limpeza:</strong></p>
                    <ul>
                        <li>Retire o pó com flanela seca ou pano branco macio (os coloridos podem transferir alguma cor ao serem molhados), levemente umedecidos com água. Seque em seguida.</li>
                    </ul>
                    <p><strong>Cuidados:</strong></p>
                    <ul>
                        <li>Não exponha a madeira ao sol, exceto no caso de móveis que tenham essa característica de uso. A exposição ao sol reduz a durabilidade e causa mudanças na coloração e textura.</li>
                        <li>Proteja os tampos de objetos úmidos, quentes, coloridos que soltem tinta, pontiagudos e cortantes. Evite também que a luz de abajures incida diretamente sobre o móvel.</li>
                        <li>Para evitar danos irreversíveis no acabamento, use somente produtos específicos para limpeza de madeira, de preferência à base de silicone porque fornecem resistência maior à umidade e sujeira. Não use óleos, ceras e produtos químicos ou abrasivos (solventes, aguarrás, removedores, etc.) – eles podem manchar e até mesmo danificar a superfície do móvel.</li>
                        <li>Evite o contato dos móveis com água. A água deteriora o aspecto interno e externo dos móveis.</li>
                    </ul>
                    <h3>Para os puxadores</h3>
                    <p><strong>Limpeza:</strong></p>
                    <ul>
                        <li>Retire o pó com pano macio, seco ou levemente umedecido com água (adicione detergente neutro para remover sujeiras mais intensas). Evite qualquer tipo de fricção na peça. Não recomendamos o uso de materiais abrasivos como esponjas de aço, produtos químicos e à base de álcool pois podem danificar as peças.</li>
                    </ul>
                    <h3>Para os Vidros</h3>
                    <p><strong>Limpeza:</strong></p>
                    <ul>
                        <li>Limpe com pano branco e macio umedecido, fazendo movimentos circulares.</li>
                        <li>Para limpar sujeiras maiores você pode usar produtos como álcool, limpa-vidros e detergentes. Em caso de espelhos, evite o contato dos produtos com as bordas. Esse pequeno contato pode provocar manchas de oxidação com o passar do tempo.</li>
                        <li>Não utilize produtos químicos, abrasivos ou que contenham solventes.</li>
                    </ul>
                    <p><strong>Cuidados:</strong></p>
                    <ul>
                        <li>Vidros jateados ou com acabamentos jateados devem ser utilizados com a face fosca para baixo.</li>
                        <li>Evite batidas, principalmente nas bordas, pois são pontos frágeis, mesmo em vidros temperados. Não apoie objetos quentes ou gelados diretamente no tampo.</li>
                    </ul>
                    <h3>Móveis com acabamento em pintura</h3>
                    <p>A pintura eletrostática é um dos acabamentos mais duráveis e resistentes para o aço carbono (ferro). A manutenção correta e a limpeza regular mantêm as propriedades do acabamento e garantem maior durabilidade ao produto.</p>
                    <p><strong>Limpeza:</strong></p>
                    <ul>
                        <li>Espanar regularmente ou passar um pano seco e macio até retirar todo o pó.</li>
                        <li>Manchas superficiais: limpe o local com um pano macio umedecido em solução de detergente neutro líquido em água. Após a limpeza, retire o excesso com um pano umedecido somente em água e, em seguida, seque bem o local.</li>
                    </ul>
                    <p><strong>Cuidados:</strong></p>
                    <ul>
                        <li>Não utilize produtos abrasivos ou que contenham acetona, éter ou álcool para a limpeza da pintura.</li>
                        <li>Produtos ferrosos não são indicados para uso em áreas externas e em regiões com atmosfera marinha.</li>
                    </ul>
                </section>
            </section>
        </div>
    </section>
</section>
