<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <h2>Compre com segurança</h2>
                <br/><br/>
                <h3>DEVOLUÇÕES</h3>
                <p>
                    Todos os clientes GALATEA tem prazo de 7 (sete) dias a partir do recebimento do móvel para solicitar a devolução do produto, desde que ele esteja nas mesmas condições de quando foi adquirido. O valor pago será devolvido em até 30 (trinta) dias e o frete fica por nossa conta. Não se esqueça de guardar o documento fiscal da venda – você deverá tê-lo em mãos no momento da devolução.
                </p>
                <p>
                    A devolução de produtos pode ser solicitada na sua página de perfil ou pelo e-mail <a href="mailto:contato@galateacasa.com.br">contato@galateacasa.com.br</a>
                </p>
                <br/><br/>
                <h3>TROCAS</h3>
                <p>
                    Todos os clientes GALATEA têm 15 (quinze) dias a partir do recebimento do móvel para optar pela troca do produto, desde que ele esteja nas mesmas condições de quando foi adquirido. Neste caso, o frete fica por conta do cliente. Não se esqueça de guardar o documento fiscal da venda – você deverá tê-lo em mãos no momento da devolução. Se você decidir trocar um produto por algo de valor menor, ficará com a diferença como crédito para compras futuras.
                </p>
                <br/><br/>
                <h3>TROCAS POR DEFEITO DE FABRICAÇÃO</h3>
                <p>
                    Peças com defeito de fabricação serão trocadas de acordo com os critérios de nossa política de <a href="#/institucional/garantia">garantia</a>.
                </p>
            </section>
        </div>
    </section>
</section>
