<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <h2>COMPRE NA GALATEA</h2>
                <br>
                <p>Somos muito mais que uma simples loja de móveis. Na GALATEA você pode:</p>
                <br>
                <p>- Encontrar móveis de alto padrão com desenhos originais e exclusivos e pelos preços mais justos do mercado;</p>
                <p>- Interagir com arquitetos e designers e contribuir com a sua opinião no processo produtivo;</p>
                <p>- Votar nos projetos que você quer ver produzidos. Se ao final da votação o seu móvel escolhido for o vencedor, você terá 5% de desconto na compra;</p>
                <p>- Conhecer em primeira mão novos talentos do design;</p>
                <p>- Inspirar outras pessoas com o seu bom gosto – e ser recompensado por isso.</p>
                <br />
                <p>
                    Gostou da nossa ideia? <a href="#/login-cliente">Cadastre-se aqui</a>
                </p>
            </section>
        </div>
    </section>
</section>
