<ng-include src="'/views/home/menu.html'"></ng-include>
<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <section class="about">
                    <h2>GANHE CRÉDITOS</h2>

                    <p>Ganhe 1% de comissão a cada venda que você gerar.</p>

                    <p>Na galeria <a href="#/inspire-me">Inspire-me</a>, você posta imagens de ambientes decorados e sugere móveis da GALATEA que poderiam compor esse ambiente. Se alguém gostar da sua sugestão e ela inspirar uma compra no site, você ganha 1% do valor da venda em descontos na GALATEA. Se você for um decorador ou arquiteto, pode resgatar seus créditos por transferência bancária mediante envio de nota fiscal ou RPA.
                    </p>

                    <p>Gostou da nossa ideia? <a href="#/entrar">Cadastre-se aqui</a>.</p>
                    <p>Você pode acompanhar seus <a href="#/meus-creditos">créditos pelo site</a>.</p>
                </section>
            </section>
        </div>
    </section>
</section>
