<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <h2>SEJA UM DECORADOR GALATEA</h2>
                <br>
                <p>Aqui seu bom gosto vale dinheiro</p>
                <br>
                <p>Se você é um decorador, aproveite a chance de mostrar o seu talento. Não importa em que lugar do mundo você está, a GALATEA é a ponte entre o seu bom gosto e o público interessado em ideias de decoração.</p>
                <br>
                <p>
                    Na galeria <a href="#/inspire-me">Inspire-me</a>, você pode postar imagens de ambientes decorados e sugerir os móveis GALATEA que poderiam compor aquele espaço. Por cada produto vendido a partir da sua idéia/decoração/ambiente, você ganhará 1% do valor da venda. Esse valor pode ser depositado direto na sua conta (mediante emissão de Nota Fiscal ou RPA) ou transformado em créditos para compras na GALATEA.
                </p>
                <br>
                <p>Se você é decorador e ficou interessado em participar da rede GALATEA, basta se <a href="#/entrar-decorador">cadastrar</a>.</p>
            </section>
        </div>
    </section>
</section>
