<ng-include src="'/views/home/menu.html'"></ng-include>
<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <section class="about">
                    <h2>MANUAL DE BOAS PRÁTICAS PARA PROJETOS</h2>
                    <p>A GALATEA é o lugar perfeito para uma boa ideia sair do papel. Entenda como funciona nosso processo:</p>
                    <p>1. Designers enviam seus projetos de acordo com o formato GALATEA (leia abaixo);</p>
                    <p>2. Todos as propostas são avaliadas por uma curadoria – nossa comissão especializada em design, produção e comercialização de móveis;</p>
                    <p>3. Em cinco dias úteis, todos os autores de projetos recebem um feedback sobre suas propostas por email;</p>
                    <p>4. Os projetos que forem aprovados pela curadoria viram candidatos em uma votação no site. O vencedor terá um protótipo produzido pela GALATEA e passará por uma avaliação final de viabilidade;</p>
                    <p>5. Assim que aprovado, ele vira produto disponível à venda no site da GALATEA;</p>
                    <h3>DICAS PARA UM PROJETO VENCEDOR</h3>
                    <p>
                        Para que o seu projeto chegue à curadoria, ele precisa se enquadrar em alguns requisitos básicos de formatação:
                    </p>
                    <ul>
                        <li>Pranchas em jpg ou png com no máximo 2 Mb por arquivo, contendo 3 vistas e um corte do projeto. O desenho pode ser manual ou computadorizado. O tamanho indicado para as imagens é de 940 por 420 pixels.</li>
                        <li>Memorial descritivo do projeto com no máximo 4000 caracteres, destacando pontos fortes, processo criativo e justificativas de adequação ao tema e filosofia GALATEA.</li>
                        <li>Caso não haja descrição de materiais construtivos do projeto, estes devem ser mencionados no memorial descritivo.</li>
                    </ul>
                    <img src="/images/formato-galatea.jpg" alt="Formato Galatea">
                    <p>Propostas fora deste modelo não seguem para a curadoria.</p>
                    <p>Não fuja da linha. A GALATEA trabalha com 3 linhas de produtos: mobiliário para uso residencial; iluminação para uso residencial; decoração (vasos, relógios, almofadas, etc.). Assegure-se que o projeto faz parte deste universo.</p>
                    <p>Acerte no estilo. A filosofia da GALATEA é simples: procuramos projetos com design original, estética contemporânea e com indicação de materiais adequados para a produção. Aposte na clareza de conceito e tenha em mente o público-alvo da GALATEA.</p>
                    <p>Pense na viabilidade. Não se esqueça da parte de produção e comercialização. Seu projeto terá mais chances de ser aprovado se tiver funcionalidade, ergonomia, racionalidade no uso de materiais e processos. Produtos que exijam alto investimento em moldes e em ferramentas especiais são mais dificeis de serem produzidos. Peças com grandes dimensões são mais difíceis de serem transportadas.</p>
                    <p>Se o seu projeto for aprovado pela curadoria, irá à votação no site. Caso contrário, você será informado porque o seu projeto foi reprovado.</p>
                    <p>Ficou com dúvidas? Escreva para a gente: <a href="mailto:contato@galateacasa.com.br">contato@galateacasa.com.br</a>.</p>
                </section>
            </section>
        </div>
    </section>
</section>
