<aside class="grid_3 alpha">
    <nav class="sidebar-nav extra-top-space">
        <ul class="text-big">
            <li>
                <a href="#/institucional/sobre">sobre a galatea</a>
                <ul class="sub-menu">
                    <li><a href="#/institucional/cliente">cliente</a></li>
                    <li><a href="#/institucional/decorador">decorador</a></li>
                    <li><a href="#/institucional/designer">designer</a></li>
                    <li><a href="#/institucional/fornecedor">fornecedor</a></li>
                    <li><a href="#/institucional/manual-de-boas-praticas">Manual de boas práticas</a></li>
                </ul>
            </li>
            <li><a href="#/atendimento">atendimento</a></li>
            <li><a href="#/institucional/duvidas-frequentes">dúvidas frequentes</a></li>
            <li><a href="#/institucional/cuidados-com-a-mobilia">cuidados com a mobília</a></li>
            <li><a href="#/institucional/trocas-e-devolucoes">trocas e devoluções</a></li>
            <li><a href="#/institucional/garantia">garantia</a></li>
            <li><a href="#/institucional/formas-de-pagamento">formas de pagamento</a></li>
            <li><a href="#/institucional/ganhe-creditos">ganhe créditos</a></li>
            <li><a href="#/institucional/politica-de-entrega">política de entrega</a></li>
            <li><a href="#/institucional/termos-e-condicoes">termos e condições</a></li>
            <li><a href="#/institucional/condicoes-de-upload">condições de upload</a></li>
            <li><a href="#/mapa-do-site">mapa do site</a></li>
        </ul>
    </nav>
</aside>
