<ng-include src="'/views/home/menu.html'"></ng-include>
<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <section class="about">
                    <h2>Formas de pagamento</h2>
                    <p>A GALATEA aceita as seguintes formas de pagamento:</p>
                    <br>
                    <p>
                        Cartões de crédito: parcelamento em até 10 vezes;
                        <div class="about-cards">
                            <div><span><img src="images/cards/visa.jpeg"></span></div>
                            <div><span><img src="images/cards/master-card.jpeg"></span></div>
                            <div><span><img src="images/cards/diners.jpeg"></span></div>
                            <div><span><img src="images/cards/elo.jpeg"></span></div>
                            <div><span><img src="images/cards/american-express.jpeg"></span></div>
                            <div><span><img src="images/cards/hipercard.jpeg"></span></div>
                            <div><span><img src="images/cards/aura.jpeg"></span></div>
                            <div><span><img src="images/cards/pleno.jpeg"></span></div>
                            <div><span><img src="images/cards/personal-card.jpeg"></span></div>
                            <div><span><img src="images/cards/vale-card.jpeg"></span></div>
                            <div><span><img src="images/cards/brasil-card.jpeg"></span></div>
                        </div>
                    </p>
                    Débito bancário: faça o pagamento diretamente em sua conta corrente;
                    <div class="about-cards">
                        <div><span><img src="images/cards/mais.jpg"></span></div>
                        <div><span><img src="images/cards/cabal.jpeg"></span></div>
                        <div><span><img src="images/cards/card-ban.jpeg"></span></div>
                        <div><span><img src="images/cards/avista.jpeg"></span></div>
                        <div><span><img src="images/cards/fortbrasil.png"></span></div>
                        <div><span><img src="images/cards/itau.jpeg"></span></div>
                        <div><span><img src="images/cards/hsbc.jpeg"></span></div>
                        <div><span><img src="images/cards/banrisul.jpeg"></span></div>
                        <div><span><img src="images/cards/bradesco.jpeg"></span></div>
                        <div><span><img src="images/cards/banco-do-brasil.jpeg"></span></div>
                    </div>
                </ul>
                <p>
                    Boleto bancário: imprima e pague no banco mais próximo ou digite o código de barras em seu internet banking;
                    <div class="about-cards">
                        <div><span><img src="images/cards/boleto.jpeg"></span></div>
                    </div>
                </p>
            </section>
        </section>
    </div>
</section>
</section>
