<ng-include src="'/views/home/menu.html'"></ng-include>
<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <section class="about">
                    <h2>MAPA DO SITE</h2>
                    <p>Aqui você encontra um atalho para todas as seções do site.</p>
                    <ul>
                        <li><a href="#/categoria/vote">Vote!</a></li>
                        <h3>Por Ambiente</h3>
                        <li><a href="#/categoria/novidades">Novidades</a></li>
                        <li><a href="#/categoria/sala-de-estar">Sala de Estar</a></li>
                        <li><a href="#/categoria/sala-de-jantar">Sala de Jantar</a></li>
                        <li><a href="#/categoria/quarto">Quarto</a></li>
                        <li><a href="#/categoria/home-office">Home Office</a></li>
                        <li><a href="#/categoria/exterior">Exterior</a></li>
                        <li><a href="#/categoria/iluminacao">Iluminação</a></li>
                        <li><a href="#/categoria/decoracao-e-acessorios">Decoração e Acessórios</a></li>
                    </ul>
                    <ul>
                        <h3>Por produto</h3>
                        <li><a href="#/categoria/quarto/abajur">Abajures</a></li>
                        <li><a href="#/categoria/sala-de-estar/banco-e-banqueta">Bancos e banquetas</a></li>
                        <li><a href="#/categoria/sala-de-jantar/buffet">Buffets</a></li>
                        <li><a href="#/categoria/sala-de-jantar/cadeira">Cadeiras</a></li>
                        <li><a href="#/categoria/sala-de-estar/carrinho-de-cha">Carrinhos de chá</a></li>
                        <li><a href="#/categoria/decoracao-e-acessorios/">Decoração e acessórios</a></li>
                        <li><a href="#/categoria/iluminacao/luminaria-de-chao">Luminárias de chão</a></li>
                        <li><a href="#/categoria/iluminacao/luminaria-de-mesa">Luminárias de mesa</a></li>
                        <li><a href="#/categoria/sala-de-estar/mesa-de-centro">Mesas de centro</a></li>
                        <li><a href="#/categoria/sala-de-jantar/mesa-de-jantar">Mesas de jantar</a></li>
                        <li><a href="#/categoria/sala-de-estar/mesa-lateral">Mesa laterais</a></li>
                        <li><a href="#/categoria/sala-de-estar/poltrona">Poltronas</a></li>
                        <li><a href="#/categoria/sala-de-estar/pufe">Pufes</a></li>
                        <li><a href="#/categoria/sala-de-estar/rack">Rack</a></li>
                        <li><a href="#/categoria/sala-de-estar/sofa">Sofás</a></li>
                    </ul>
                </section>
            </section>
        </div>
    </section>
</section>
