<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <section class="about">
                    <h2>CONDIÇÕES DE UPLOAD DE PROJETOS NO SITE</h2>
                    <p>Bem Vindo a Área de Postagem de projetos da GALATEA!</p>
                    <p>Para postar um projeto seu e utilizar os serviços fornecidos pela GALATEA você tem que aceitar estas Condições de Upload de Projetos.
                        Por favor, leia cuidadosamente estas Condições. Caso você tenha alguma dúvida, entre em contato conosco pelo e-mail <a href="mailto:contato@galateacasa.com.br">contato@galateacasa.com.br</a>.
                    </p>
                    <h3>ETAPAS DE AVALIAÇÃO</h3>
                    <p>A GALATEA é o lugar perfeito para uma boa ideia sair do papel. Entenda como funciona nosso processo:</p>
                    <p>
                        <img src="/images/etapas-da-avliacao.png" alt="Etapas da avaliação">
                    </p>
                    <h3>ENVIO DO PROJETO</h3>
                    <p>Depois de preencher o cadastro no site, inscreva seu projeto aqui.
                        Para que o seu projeto chegue à curadoria, ele precisa se enquadrar em alguns requisitos básicos de formatação:
                    </p>
                    <ul>
                        <li>pranchas em jpg ou png com no máximo 2 Mb por arquivo, contendo 3 vistas e um corte do projeto. O desenho pode ser manual ou computadorizado. O tamanho indicado para as imagens é de 940 pixels de largura por 412 pixels de altura.</li>
                        <li>memorial descritivo do projeto com no máximo 4000 caracteres, destacando pontos fortes, processo criativo e justificativas de adequação ao tema e filosofia GALATEA.</li>
                        <li>caso não haja descrição de materiais construtivos do projeto, estes devem ser mencionados no memorial descritivo.</li>
                    </ul>
                    <h3>AVALIAÇÃO DA CURADORIA GALATEA</h3>
                    <p>Todos as propostas são avaliadas pela nossa Curadoria – uma  comissão especializada em design, produção e comercialização de móveis.. Os projetos aprovados pela Curadoria viram candidatos em uma votação no site.</p>
                    <p>A Curadoria tem três critérios de avaliação:</p>
                    <ul>
                        <li>Não fuja da linha. A GALATEA trabalha com 3 linhas de produtos: mobiliário para uso residencial; iluminação para uso residencial; decoração (vasos, relógios, almofadas, etc.). Assegure-se que o projeto faz parte deste universo.</li>
                        <li>Acerte no estilo. A filosofia da GALATEA é simples: procuramos projetos com design original, estética contemporânea e com indicação de materiais adequados para a produção. Aposte na clareza de conceito e tenha em mente o público-alvo da GALATEA.</li>
                        <li>Pense na viabilidade. Não se esqueça da parte de produção e comercialização. Seu projeto terá mais chances de ser aprovado se tiver funcionalidade, ergonomia, racionalidade no uso de materiais e processos. Produtos que exijam alto investimento em moldes e em ferramentas especiais são mais difíceis de serem produzidos. Peças com grandes dimensões são mais difíceis de serem transportadas.</li>
                    </ul>
                    <p>A avaliação do projeto é feita em até 5 dias úteis e todos os projetos recebem feedback, positivo ou negativo. Se o seu projeto for aprovado pela curadoria, irá à votação no site.</p>
                    <h3>VOTAÇÃO</h3>
                    <p>As votações tem periodicidade mensal - iniciam no primeiro dia do mês e se encerram no último. O projeto que levar mais votos é o que passa para a fase seguinte, de produção e lançamento do seu produto.</p>
                    <p>Ao submeter um projeto para a GALATEA, você está ciente e concorda com que o Projeto seja exposto no Site, na seção de votação pelo público, e que será apenas fabricado e comercializado pela GALATEA caso seja selecionado pelo público ou pela GALATEA, não ficando essa obrigada a produzir nenhum Projeto.</p>
                    <p>A GALATEA se reserva o direito de manter seu projeto no ar pelo período mínimo de uma votação completa, período após o qual você pode retirar o seu projeto do site se desejar.</p>
                    <h3>PRODUÇÃO E LANÇAMENTO</h3>
                    <p>Se o seu projeto ganhar a votação, será encaminhado para os nossos fornecedores, que em um prazo de 30 dias estudarão o custo e o modelo de produção mais adequado para o seu projeto. A GALATEA estuda também a viabilidade de mercado dele dentro do site.</p>
                    <p>Listamos aqui as condições gerais de produção:</p>
                    <ul>
                        <li>O estudo comercial e de produção será realizado a exclusivo critério da GALATEA;</li>
                        <div id="direitos-autorais"></div>
                        <li>A GALATEA poderá, a seu exclusivo critério, sugerir ao designer modificações que tornem o projeto mais viável, seja em relação a custo ou adequação de mercado. As modificações só serão implementadas mediante prévia aprovação do designer;</li>
                        <li>O projeto pode ser cancelado por qualquer uma das partes antes de entrar no ar no site;</li>
                        <li>O preço final e a apresentação e divulgação do produto no site serão determinados segundo os critérios da GALATEA, com o que o designer está de acordo;</li>
                        <li>Caso ganhe a votação, o designer assina um contrato de Licenciamento com a GALATEA, garantindo à GALATEA exclusividade na produção e comercialização do produto por 2 anos.</li>
                    </ul>
                    <h3>SOBRE DIREITOS AUTORAIS</h3>
                    <p>A GALATEA leva muito a sério o direito autoral. Pela Lei 9610/98 em seu art. 7., VIII – “as obras de desenho, pintura, gravura, escultura, litografia e arte cinética;” são protegidas como obras intelectuais. Por isso o Projeto postado por você tem que ser seu,  e se você violar direitos autorais de terceiros, você concorda em indenizar e isentar a GALATEA e seus administradores, diretores, funcionários e agentes, de e contra qualquer reivindicação, processos, procedimentos, disputas, demandas, responsabilidades, danos, perdas, custos e despesas, incluindo, sem limitação, honorários advocatícios e contábeis (incluindo os custos de defesa de reclamações, processos ou recursos interpostos por terceiros), de qualquer forma relacionado com a sua violação.</p>
                    <h3>SOBRE O USO DA INFORMAÇÃO</h3>
                    <p>Ao submeter um projeto para a GALATEA você autoriza expressamente a divulgação do seu nome, imagem, projeto e dados pessoais (a exceção de dados confidenciais como telefone e endereço) pelos meios e nas formas que a GALATEA considere conveniente, com fins publicitários e/ou promocionais, sem direito a compensação alguma.</p>
                    <h3>SOBRE FRAUDE</h3>
                    <p>Se houver indícios ou constatação de fraude nos votos computados e/ou na violação de direitos autorais ou se o conteúdo postado for considerado ofensivo, a GALATEA pode remover o projeto do site sem aviso prévio.</p>
                    <h3>SOBRE LIMITAÇÃO DE RESPONSABILIDADE</h3>
                    <p>A GALATEA não será responsável, ao limite permitido por Lei, por quaisquer danos indiretos, incidentais, emergentes ou punitivos, ou por qualquer perda de lucros ou receitas, incorrida direta ou indiretamente, ou perda de dados, uso ou outras erdas intangíveis, resultantes de:
                        sua incapacidade de acessar nossos serviços;
                        qualquer conduta de um terceiro sobre seu conteúdo postado, incluindo, sem limitação, qualquer ato difamatório, ofensivo ou conduta ilegal.
                        Acesso ou alteração do seu conteúdo, sem qualquer culpa comprovada da GALATEA.
                    </p>
                    <h3>SOBRE SEGURANÇA</h3>
                    <p>Nós nos preocupamos com a segurança dos nossos usuários. Enquanto nós trabalhamos para proteger a segurança do seu conteúdo e conta, a GALATEA não pode garantir que terceiros não autorizados não serão capazes de derrotar as nossas medidas de segurança. Por favor, avise-nos imediatamente de qualquer compromisso ou uso não autorizado de sua conta.</p>
                    <h3>SOBRE RESCISÃO</h3>
                    <p>A GALATEA poderá rescindir ou suspender este direito de usar nossos serviços a qualquer momento, mediante notificação prévia com 10 dias de antecedência.
                    Em caso de desrespeito à política GALATEA ou qualquer das condições pactuadas, a GALATEA se reserva o direito de remover o Projeto do ar imediatamente.
                    Se você encontrar algo na GALATEA que considere ser uma violação aos nossos termos, mande um e-mail para <?php echo  EMAIL_GALATEA ?>. Lembre-se de que denunciar um conteúdo não garante que ele será removido do site.
                    </p>
                    <h3>TERMOS GERAIS</h3>
                    <p>Estes Termos poderão ser revisados de tempos em tempos e a versão mais atual será sempre publicada no nosso site.  Ao continuar a acessar ou utilizar os serviços após as revisões se tornarem eficazes, você concorda com os termos revistos. Se você não concordar com os novos termos, deve notificar a GALATEA através do email <?php echo  EMAIL_GALATEA ?> e removeremos o seu conteúdo do site no mês subsequente ao da sua discordância.
                    De maneira alguma esse contrato estabelece qualquer relação trabalhista ou de sociedade entre você e a GALATEA.
                    </p>
                    <p>Legislação Aplicável e Foro de eleição
                    Os Termos e Condições Gerais são regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação e ao cumprimento destes Contratos as partes se submetem ao Foro Central da Cidade de São Paulo, exceção feita a reclamações apresentadas por Usuários que se enquadrem no conceito legal de consumidores, que poderão submeter as mesmas ao foro de seu domicílio.
                    </p>
                    <p>O uso desta página da internet implica na aceitação dos Termos e Condições Gerais de uso do Site.</p>
                </section>
            </section>
        </div>
    </section>
</section>
