<ng-include src="'/views/home/menu.html'"></ng-include>
<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <h2>Todos os produtos GALATEA têm garantia de 6 meses. Veja as condições:</h2>
                <br>
                <br>
                <p>
                    - A garantia será concedida somente por defeitos de fabricação. O uso indevido do produto não dá direito ao benefício.
                </p>
                <br>
                <p>
                    - A GALATEA poderá fazer uma avaliação técnica para se certificar de que o produto se encontra dentro das normas de garantia. Se necessário, o produto será remetido à análise do fabricante.
                </p>
                <br>
                <p>
                    - De acordo com a gravidade do dano, o produto poderá ser consertado ou substituído por um novo.
                </p>
                <br>
                <p>
                    - Peças de madeira maciça ou revestidas por lâminas de madeira podem apresentar alteração em relação às amostras por tratar-se de matéria-prima natural e, portanto, sem um padrão rígido de textura e tonalidade. Todas as peças em madeira maciça podem apresentar pequenos movimentos ou empenamentos por causa de mudanças climáticas. É uma característica inerente do material. Peças destinadas a área externa sem acabamento sofrerão um acinzentamento natural. Peças destinadas a área externa com acabamento (ex. verniz) deverão ter uma manutenção deste acabamento num período máximo de 12 (doze) meses a fim de manter seu aspecto original.
                </p>
                <br>
                <h3>
                    A garantia de 6 meses não se aplica aos seguintes casos:
                </h3>
                <p>
                    - Danos provocados por queda ou batida. Sinais de violação ou alteração no produto. Limpeza com produtos não apropriados.
                </p>
                <br>
                <p>
                    - Desgaste natural do móvel ou objeto de decoração, de suas peças e/ou partes, seja pelo seu uso intenso ou uso indevido por parte do usuário. Entre eles: expor o objeto a intempérie, umidade, maresia, frio e calor intensos. Desgaste por agentes externos, como água, ferrugem, incêndio, cupins e pragas em geral.
                </p>
                <br>
                <p>
                    - Mau uso, esforços indevidos ou qualquer tipo de uso diferente daquele proposto pela GALATEA para cada produto.
                </p>
                <br><br>
                <p>
                    - Condições inadequadas de instalação dos produtos: pisos desnivelados, presença de umidade excessiva, paredes pouco resistentes, etc.
                </p>
                <br>
                <br>
                <br>
                <p>
                    A GALATEA se reserva o direito de alterar as características gerais, técnicas e estéticas ou introduzir melhoramentos nos seus produtos a qualquer momento, sem incorrer na obrigação de efetuar o mesmo nos produtos em estoque ou já vendidos.
                </p>
                <br>
                <p>
                    As reposições serão atendidas num prazo máximo de 30 (trinta) dias, conforme previsto no Código de Defesa do Consumidor. Você deverá ter em mãos o documento fiscal de vendas. Para acionar a sua garantia, envie um email para <a href="mailto:contato@galateacasa.com.br">contato@galateacasa.com.br</a>.
                </p>
            </section>
        </div>
    </section>
</section>
