doctype html
html
  head
  body

    table(width="620", align="center")
      tbody
        tr
          td
            //- Topo
            table(width="620", bgcolor="#00a9f9")
              tbody
                tr
                  td

            //- Cabeçalho
            table(width="620", bgcolor="#ecefe9", cellpadding="0", border="0", cellspacing="0")
              tbody
                tr
                  td
                    img(src="/assets/images/email/header.jpg", width="620", height="99", alt="GALATEA CASA")
            //- Conteúdo
            table(width="620", bgcolor="#ecefe9", cellpadding="15")
              tbody
                tr
                  td
                    h1(style="font-size: 21px; color: #51534c;") Título do email
                    p(style="font-size: 14px; color: #51534c;") Conteúdo do email
            //- Redes sociais
            table(width="620", bgcolor="#323232", cellpadding="5")
              tbody
                tr
                  td
                    a(href="#", style="text-decoration: none; color: white; font-size: 12px; font-family: Sans-serif;") &nbsp;&nbsp;&nbsp; GALATEACASA.COM.BR
                  td(width="5")
                    a(href="#", alt="Facebook", style="color: white; font-size: 12px;")
                      img(src="/assets/images/email/facebook.jpg")
                  td(width="30")
                    a(href="#", alt="Pinderest", style="color: white; font-size: 12px;")
                      img(src="/assets/images/email/pinderest.jpg")
            //- Final
            table(width="620", bgcolor="#00a9f9")
              tbody
                tr
                  td