<section class="container_12 extra-top-space">
    <section class="grid_12">
        <ng-include src="'/views/institutional/menu.html'"></ng-include>
        <section class="grid_8 omega product-top">
            <div class="block space-container">
                <div class="block extra-btm-space">
                    <h2 class="extra-btm-space extra-top-space">meus créditos</h2>
                    <h3 class="small-caps accumulation">Você acumulou<em></em></h3>
                    <p>Confira abaixo os itens que geraram esses créditos e como resgat&aacute;-los</p>
                </div>
                <div class="block border-btm border-top extra-top-space">
                    <h3 class="dark-clr">royalties provenientes da venda dos seus produtos</h3>
                    <table class="chart">
                        <tr class="chart-title">
                            <td>Item</td>
                            <td>Unid.<br> Vendidas</td>
                            <td>Data</td>
                            <td>Valor Unitário</td>
                            <td>Valor Total</td>
                            <td>Royalties</a></td>
                            <td>Status</td>
                        </tr>
                        <tr class="last">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="dark-clr"></td>
                        </tr>
                    </table>
                </div>
                <div class="block border-btm extra-top-space">
                    <h3 class="dark-clr">crédito gerado pelas decorações que você postou no site</h3>
                    <table class="chart">
                        <tr class="chart-title">
                            <td>Imagem</td>
                            <td>Produtos <br>Vendidos</td>
                            <td>Data</td>
                            <td>Valor da Venda</td>
                            <td>Royalties</a></td>
                            <td>Status</td>
                        </tr>
                        <tr class="last">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="dark-clr"></td>
                        </tr>
                    </table>
                    <div class="block center-text extra-btm-space">
                        <p style="padding-right: 0px;" class="add-to-cart no-bg no-under-l">
                            Resgate seus créditos no carrinho de compras ou na sua conta bancária <a href="#/recuperar-creditos" title="register" class=" float-r link-btn blue small-link ">resgatar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
