<section ng-controller="UserLoginController">
    <form ng-submit="save()">
        <h2>Login</h2>
        <div>
            <input type="text" placeholder="email" ng-model="user.email" >
        </div>
        <div>
            <input type="password" placeholder="senha" ng-model="user.password" >
            <input type="submit" value="login">
        </div>
        <div>
            <a href="#/esqueci-minha-senha">esqueceu sua senha?</a>
            <div>
                <input type="checkbox" name="keep_logged" value="1">
                <label for="check-1" class="">manter logado</label>
            </div>
        </div>
    </form>
</section>

<section ng-controller="UserFacebookLoginController">
    <form>
        <h2>Login via Facebook</h2>
        <a href="">
            <img src="images/icon-fb.jpg" title="fb-login" ng-click="save()">
        </a>
    </form>
</section>

<section ng-controller="UserSignupController">
    <form ng-submit="save()" novalidate>
        <h2>Ou Cadastre-se!</h2>
        <div>
            <div>
                <input type="file" ng-file-select>
            </div>
        </div>
        <div>
            <span>
                <em>&nbsp;</em>
                <select ng-model="user.type">
                    <option value="designer">SOU DESIGNER</option>
                    <option value="client">SOU CLIENTE</option>
                    <option value="supplier">SOU FORNECEDOR</option>
                    <option value="decorator">SOU DECORADOR</option>
                </select>
            </span>
        </div>
        <div>
            <span>
                <em>&nbsp;</em>
                <input type="text" placeholder="nome" ng-model="user.name">
            </span>
            <span>
                <em>&nbsp;</em>
                <input type="text" placeholder="sobrenome" ng-model="user.surname">
            </span>
        </div>
        <div>
            <span>
                <em>&nbsp;</em>
                <input type="email" placeholder="email" ng-model="user.email">
            </span>
            <span >
                <em>&nbsp;</em>
                <input type="email" placeholder="confirmar email" ng-model="user.confirmEmail">
            </span>
        </div>
        <div>
            <span>
                <em>&nbsp;</em>
                <input type="password" placeholder="senha" ng-model="user.password">
            </span>
            <span>
                <em>&nbsp;</em>
                <input type="password" placeholder="confirmar senha" ng-model="user.confirmPassword">
            </span>
        </div>
        <div ng-show="user.type==='supplier'">
            <h2>Dados da empresa</h2>
            <div>
                <span>
                    <em>&nbsp;</em>
                    <input type="text" placeholder="razão social" ng-model="user.company.name">
                </span>
            </div>
            <div>
                <span>
                    <em>&nbsp;</em>
                    <input type="text" placeholder="cnpj" ng-model="user.company.cnpj">
                </span>
            </div>
            <div>
                <span>
                    <em>&nbsp;</em>
                    <select ng-model="user.company.expertise" ng-options="expertise.expertiseId as expertise.name for expertise in expertises">
                        <option value="">Selecione a sua área de atuação</option>
                    </select>
                </span>
            </div>
            <h2>Endereço</h2>
            <div>
                <span>
                    <em>&nbsp;</em>
                    <input type="text" placeholder="cep" ng-model="user.address.zipcode">
                </span>
            </div>
            <div>
                <span>
                    <em class="imp">&nbsp;</em>
                    <input type="text" placeholder="rua/avenida" ng-model="user.address.street">
                </span>
            </div>
            <div>
                <span>
                    <em class="imp">&nbsp;</em>
                    <input type="text" placeholder="número" ng-model="user.address.number">
                </span>
            </div>
            <div>
                <span>
                    <input type="text" placeholder="complemento" ng-model="user.address.complement">
                </span>
            </div>
            <div>
                <span>
                    <select ng-model="user.address.country" ng-options="country.countryId as country.name for country in countries" ng-change="loadStates()">
                        <option value="">País</option>
                    </select>
                </span>
            </div>
            <div>
                <span>
                    <select ng-model="user.address.state" ng-options="state.stateId as state.name for state in states" ng-change="loadCities()">
                        <option value="">Estado</option>
                    </select>
                </span>
            </div>
            <div>
                <span>
                    <select ng-model="user.address.city" ng-options="city.cityId as city.name for city in cities">
                        <option value="">Cidade</option>
                    </select>
                </span>
            </div>
            <div>
                <span>
                    <em>&nbsp;</em>
                    <input type="text" placeholder="DDD" ng-model="user.phone.areaCode">
                </span>
            </div>
            <div>
                <span>
                    <em>&nbsp;</em>
                    <input type="text" placeholder="telefone" ng-model="user.phone.number">
                </span>
            </div>
        </div>
        <input type="submit" value="CADASTRAR">
        <span>
            Clicando em CADASTRAR, você estará concordando com os <a href="#/institucional/termos-e-condicoes">Termos do site</a> e que você leu nossa <a href="#/institucional/termos-e-condicoes">política de uso de informações</a>, incluindo o relacionado a Cookies.
        </span>
    </form>
</section>
