<ng-include src="'/views/home/menu.html'"></ng-include>
<section class="container_12">
    <section class="grid_12 border-btm">
        <section class="post-info">
            <img  ng-src="{{user.photo}}" ng-show="user.photo" width="110" style="float: left;" >
            <figure class="profile-img" ng-hide="user.photo">&nbsp;</figure>
            <article class="post-by-detail">
                <h3>
                    {{user.name}} {{user.surname}}
                    <small>{{user.type}}</small>
                </h3>
                <ul>
                    <li ng-show="user.type==='supplier'">
                        <span>Produtos produzidos</span>
                        {{products.length}}
                    </li>
                    <li ng-show="user.type==='designer'">
                        <span>Projetos propostos</span>
                        {{projects.length}}
                    </li>
                    <li>
                        <span>Ambientes Postados</span>
                        {{ambiances.length}}
                    </li>
                </ul>
            </article>
            <article class="grid_7 float-r omega">
                <p class="extra-btm-space">
                    {{user.about}}
                </p>
            </article>
        </section>
    </section>
</section>
<section class="container_12 border-btm">
    <div class="grid_12">
        <br>
        <br>
        <h2 id="product" class="profile-tab">
            <a class="filter activate" href="#carousel-product-starred" data-section="product" data-show="carousel-product-starred" data-hide="carousel-product-mine">produtos Preferidos</a>
            <a class="filter border" href="#carousel-product-mine" data-section="product" data-show="carousel-product-mine" data-hide="carousel-product-starred">Meus produtos</a>
        </h2>
        <section id="carousel-product-starred">
            <div class="horizontal-slider-container">
                <div class="horizontal-slider-content">
                    <ul id="carousel-product-star" class="horizontal-slider">
                        <li class="empty"></li>
                        <li class="empty"></li>
                        <li class="empty"></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="grid_12">
        <br>
        <br>
        <h2 id="product" class="profile-tab">
            <a class="filter activate" href="#carousel-product-starred" data-section="product" data-show="carousel-product-starred" data-hide="carousel-product-mine">projetos Preferidos</a>
            <a class="filter border" href="#carousel-product-mine" data-section="product" data-show="carousel-product-mine" data-hide="carousel-product-starred">Meus projetos</a>
        </h2>
        <section id="carousel-product-starred">
            <div class="horizontal-slider-container">
                <div class="horizontal-slider-content">
                    <ul id="carousel-product-star" class="horizontal-slider">
                        <li class="empty"></li>
                        <li class="empty"></li>
                        <li class="empty"></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="grid_12">
        <br>
        <br>
        <h2 id="product" class="profile-tab">
            <a class="filter activate" href="#carousel-product-starred" data-section="product" data-show="carousel-product-starred" data-hide="carousel-product-mine">ambientes Preferidos</a>
            <a class="filter border" href="#carousel-product-mine" data-section="product" data-show="carousel-product-mine" data-hide="carousel-product-starred">Meus ambientes</a>
        </h2>
        <section id="carousel-product-starred">
            <div class="horizontal-slider-container">
                <div class="horizontal-slider-content">
                    <ul id="carousel-product-star" class="horizontal-slider">
                        <li class="empty"></li>
                        <li class="empty"></li>
                        <li class="empty"></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>