<ng-include src="'/views/home/menu.html'"></ng-include>
<section class="container_12">
    <section class="grid_12 border-btm">
        <section class="post-info">
            <img  ng-src="{{user.photo}}" ng-show="user.photo" width="110" style="float: left;" >
            <figure class="profile-img" ng-hide="user.photo">&nbsp;</figure>
            <article class="post-by-detail">
                <h3>
                    {{user.name}} {{user.surname}}
                    <small>{{user.type}}</small>
                </h3>
                <ul>
                    <li ng-show="user.type==='supplier'">
                        <span>Produtos produzidos</span>
                        {{products.length}}
                    </li>
                    <li ng-show="user.type==='designer'">
                        <span>Projetos propostos</span>
                        {{projects.length}}
                    </li>
                    <li>
                        <span>Ambientes Postados</span>
                        {{ambiances.length}}
                    </li>
                </ul>
            </article>
            <article class="grid_7 float-r omega">
                <p class="extra-btm-space">
                    {{user.about}}
                </p>
            </article>
        </section>
    </section>
</section>
<section class="container_12 border-btm">
    <div class="grid_12">
        <br>
        <br>
        <h2 id="product" class="profile-tab">
            <a class="filter activate">produtos Preferidos</a>
        </h2>
        <section id="carousel-product-starred">
            <div class="horizontal-slider-container">
                <div class="horizontal-slider-content">
                    <ul id="carousel-product-star" class="horizontal-slider">
                        <li class="product" ng-repeat="product in favoriteProduct">
                            <h3>
                                <a ng-href="#/produto/{{product.slug}}">{{product.name}}</a>
                            </h3>
                            <figure>
                                <a ng-href="#/produto/{{product.slug}}">
                                    <img width="200" height="180" ng-src="{{product.images[0].replace('upload/', 'upload/c_scale,w_200,h_180/')}}">
                                </a>
                            </figure>
                            <div class="white-box">
                                <div class="rate-new-container">
                                    <span class="rate">{{(product.price) * 1.07 | currency:'R$'}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="grid_12">
        <br>
        <br>
        <h2 id="product" class="profile-tab">
            <a class="filter activate">projetos Preferidos</a>
        </h2>
        <section id="carousel-product-starred">
            <div class="horizontal-slider-container">
                <div class="horizontal-slider-content">
                    <ul id="carousel-product-star" class="horizontal-slider">
                        <li class="product" ng-repeat="product in favoriteProject">
                            <h3>
                                <a ng-href="#/produto/{{product.slug}}">{{product.name}}</a>
                            </h3>
                            <figure>
                                <a ng-href="#/produto/{{product.slug}}">
                                    <img width="200" height="180" ng-src="{{product.images[0].replace('upload/', 'upload/c_scale,w_200,h_180/')}}">
                                </a>
                            </figure>
                            <div class="white-box">
                                <div class="rate-new-container">
                                    <span class="rate">{{(product.price) * 1.07 | currency:'R$'}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="grid_12">
        <br>
        <br>
        <h2 id="product" class="profile-tab">
            <a class="filter activate">ambientes Preferidos</a>
        </h2>
        <section id="carousel-product-starred">
            <div class="horizontal-slider-container">
                <div class="horizontal-slider-content">
                    <ul id="carousel-product-star" class="horizontal-slider">
                        <li class="empty"></li>
                        <li class="empty"></li>
                        <li class="empty"></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>