<!doctype html>
<html lang="en" ng-app="galatea">
    <head>
        <meta charset="utf-8" />
        <title>Galatea Casa</title>

        <script src="/angular.min.js"></script>
        <script src="/file-upload.min.js" ></script>
        <script src="/animate.min.js" ></script>
        <script src="/cookies.min.js"></script>
        <script src="/route.min.js"></script>
        <script src="/resource.min.js"></script>
        <script src="/facebook.min.js"></script>
        <script src="/resources.js"></script>

        <script src="/controllers/user.js"></script>
        <script src="/controllers/institutional.js"></script>
        <script src="/controllers/newsletter.js"></script>
        <script src="/controllers/ambiance.js"></script>
        <script src="/controllers/product.js"></script>
        <script src="/index.js"></script>

        <link type="image/ico" rel="shortcut icon" href="/images/favicon.ico">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="#/institucional/sobre">Sobre a Galatea</a>
                    </li>
                    <li>
                        <a href="#/atendimento">Atendimento</a>
                    </li>
                    <li>
                        (19) 3112-0316
                    </li>
                    <li>
                        <a href="#/inspire-me">inspire-me</a>
                    </li>
                    <li>
                        <a title="Página inicial" href="#/">
                            <img width="461" height="41" alt="Galatea" src="/images/logo.jpg">
                        </a>
                    </li>
                </ul>
            </nav>
            <div ng-show="user.userId">
                <a href="">Ol&#225; {{user.name}}</a>
                <ul>
                    <li>
                        <a ng-href="#/perfil/{{user.username}}">Meu perfil</a>
                    </li>
                    <li>
                        <a href="#/minha-conta">Minha conta</a>
                    </li>
                    <li>
                        <a href="#/meus-creditos">Meus créditos</a>
                    </li>
                    <li>
                        <a href="#/meus-pedidos">Meus pedidos</a>
                    </li>
                    <li ng-show="user.type=='supplier'">
                        <a href="#/quero-produzir">Quero produzir</a>
                    </li>
                    <li>
                        <a href="#/meus-pedidos">Meus pedidos</a>
                    </li>
                    <li>
                        <a href="#/criar-projeto">Enviar projeto</a>
                    </li>
                    <li>
                        <a href="#/criar-ambiente">Enviar ambiente</a>
                    </li>
                    <li>
                        <a href="#/sair">Sair</a>
                    </li>
                </ul>
            </div>
            <div ng-hide="user.userId">
                <a href="#/entrar">Entrar</a>
            </div>
            <div>
                <dfn>COMPRAS</dfn>
                <span>0</span>
            </div>
        </header>
        <ul>
            <li ng-repeat="category in categories">
                <a ng-href="#/categoria/{{category.categoryId}}">{{category.name}}</a>
            </li>
        </ul>
        <toaster-container></toaster-container>
        <section ng-view></section>
        <footer>
            <nav>
                <ul>
                    <li>
                        <a href="#/institucional/cuidados-com-a-mobilia">Cuidados com a mobília</a>
                    </li>
                    <li>
                        <a href="#/institucional/trocas-e-devolucoes">Trocas e Devoluções</a>
                    </li>
                    <li>
                        <a href="#/institucional/termos-e-condicoes">Termos e Condições</a>
                    </li>
                    <li>
                        <a href="#/institucional/formas-de-pagamento">Pagamento e Entrega</a>
                    </li>
                    <li>
                        <a href="#/institucional/termos-e-condicoes">Política de Privacidade</a>
                    </li>
                </ul>
            </nav>
            <section>
                <h4>Siga em outras redes:</h4>
                <ul>
                    <li>
                        <a target="_blank" href="http://pinterest.com/galateacasa/">pinterest</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/GalateaCasa">facebook</a>
                    </li>
                </ul>
            </section>
            <aside ng-controller="NewsletterController">
                <h4>NewsLetter</h4>
                <div>
                    <form ng-submit="save()">
                        <input type="text" ng-model="newsletter.email" placeholder="e-mail">
                        <input type="submit" value="OK">
                    </form>
                </div>
                <em>Galatea Casa © Todos os direitos reservados.</em>
            </aside>
        </footer>
    </body>
</html>
