<nav class="grid_12 nav-main" style="display:block;" ng-controller="ProductSearchController">
    <ul>
        <li ng-repeat="category in categories | orderBy:'order'">
            <a class="padd-first" ng-href="#/categoria/{{category.slug}}">{{category.name}}</a>
        </li>
        <li>
            <a class="padd-first" ng-href="#/categoria/novidades">vote</a>
        </li>
    </ul>
    <div class="form">
        <form ng-submit="search()">
    		<input type="text" placeholder="Buscar" ng-model="query">
    		<input type="submit" value="buscar" style="display:none">
        </form>
	</div>

</nav>
