<section class="pop-block-extended" style="display: block" ng-controller="AmbianceCreateController">
    <form ng-submit="save()">
        <div>
            <h2 class="pop-title">
                Enviar Ambiente
            </h2>
            <div class="wrap-content">
                <section class="pop-small-block">
                    <section class="msg-box">
                        <h3>Pr&#233;-visualiza&#231;&#227;o da imagem:</h3>
                        <div id="upload-response" class="grid_12">
                            <img ng-src="{{ambiance.image}}">
                        </div>
                    </section>
                </section>
                <section class="pop-small-block omega last">
                    <ul class="long-forms">
                        <li>
                            <div class="legend">Image:</div>
                            <input id="ambiance-image-url" type="file" class="search-area" file url="/images" model="ambiance.image">
                        </li>
                        <li>
                            <div class="legend">T&#237;tulo:</div>
                            <input type="text" class="search-area" ng-model="ambiance.name">
                        </li>
                        <li>
                            <div class="legend">Categoria:</div>
                            <div class="report-box">
                                <select ng-model="ambiance.category" id="ambiance-category-main" class="ambiance-styled" ng-options="category._id as category.name for category in categories">
                                </select>
                            </div>
                        </li>
                        <li>
                            <button id="ambiance-save" type="submit" class="button float-r">publicar</button>
                            <p class="ambiance-terms">
                                Clicando em PUBLICAR, voc&#234; estar&#225; concordando <br> com os <a target="_blank">Termos do site</a>  e com nossa pol&#237;tica de <a target="_blank">Termos do site</a>
                                <a href="http://new.galateacasa.com.br/site/about/index/terms" target="_blank">direito de imagem</a>
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div id="products-add" class="blocks hide">
            <header class="pop-header">
                <h2 class="pop-title">Anexar Produtos</h2>
                <h3 class="extra-lt-space">clique sobre os produtos para anexar ou excluilos do seu ambiente</h3>
                <section class="pro-search">
                    <span class="long-forms">
                        <input type="text" class="search-area" placeholder="Palavra-chave do produto buscado" ng-model="search">
                    </span>
                </section>
            </header>
            <section class="slider">
                <div id="ambiance-slider-search" class="horizontal-slider-container">
                    <div id="search-result" class="horizontal-slider-content">
                        <ul class="horizontal-slider add-ambiance">
                            <li ng-repeat="product in products | filter:search | orderBy:'name'">
                                <img alt="" ng-src="{{product.images[0].replace('upload/', 'upload/c_scale,w_200/')}}" ng-click="addProduct(product)">
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <h2 class="pop-title">produtos anexados</h2>
        <section class="slider">
            <div class="horizontal-slider-container">
                <div class="horizontal-slider-content">
                    <ul class="horizontal-slider add-ambiance">
                        <li ng-repeat="product in ambiance.products">
                            <img alt="" ng-src="{{product.images[0].replace('upload/', 'upload/c_scale,w_200/')}}" ng-click="removeProduct(product)">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </fom>
</section>
