<section class="pop-block" style="display: block" ng-controller="AmbianceCreateController">
    <form ng-submit="save()">
        <div>
            <h2 class="pop-title">
                Enviar Ambiente
                <a href="javascript:void(0)" class="close-btn">&nbsp;</a>
            </h2>
            <div class="wrap-content">
                <section class="pop-small-block">
                    <section class="msg-box">
                        <h3>Pr&#233;-visualiza&#231;&#227;o da imagem:</h3>
                        <div id="upload-response" class="grid_12">
                            <img ng-src="{{ambiance.image}}">
                        </div>
                    </section>
                </section>
                <section class="pop-small-block omega last">
                    <ul class="long-forms">
                        <li>
                            <div class="legend">Image:</div>
                            <input id="ambiance-image-url" type="file" class="search-area" file url="/images" model="ambiance.image">
                        </li>
                        <li>
                            <div class="legend">T&#237;tulo:</div>
                            <input type="text" class="search-area" ng-model="ambiance.name">
                        </li>
                        <li>
                            <div class="legend">Categoria:</div>
                            <div class="report-box">
                                <select ng-model="ambiance.category" id="ambiance-category-main" class="ambiance-styled" ng-options="category._id as category.name for category in categories">
                                </select>
                            </div>
                        </li>
                        <li>
                            <button id="ambiance-save" type="submit" class="button float-r">publicar</button>
                            <p class="ambiance-terms">
                                Clicando em PUBLICAR, voc&#234; estar&#225; concordando <br> com os <a target="_blank">Termos do site</a>  e com nossa pol&#237;tica de <a target="_blank">Termos do site</a>
                                <a href="http://new.galateacasa.com.br/site/about/index/terms" target="_blank">direito de imagem</a>
                            </p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <div id="products-add" class="blocks hide">
            <header class="pop-header">
                <h2 class="pop-title">Anexar Produtos</h2>
                <h3 class="extra-lt-space">Anexe produtos do site relacionados a esse ambiente</h3>
                <section class="pro-search">
                    <span class="long-forms">
                        <input id="search-ambiance" type="text" class="search-area" placeholder="Palavra-chave do produto buscado">
                    </span>
                </section>
            </header>
            <section class="slider">
                <div id="ambiance-slider-search" class="horizontal-slider-container">
                    <div id="search-result" class="horizontal-slider-content">
                        <ul class="horizontal-slider add-ambiance">
                         <!-- /search result -->
                     </ul>
                 </div>
            </div>
        </section>
        <h2 class="pop-title">produtos anexados</h2>
        <section class="slider">
            <div id="ambiance-slider-attached" class="horizontal-slider-container">
                <div id="ambiance-attached-products" class="horizontal-slider-content">
                    <ul id="products-added" class="horizontal-slider add-ambiance"><!-- /search result --></ul>
                </div>
            </div>
        </section>
    </fom>
</section>
