<section class="pop-block-extended" style="display: block" ng-controller="AmbianceDetailsController">
    <h2>
        {{ambiance.name}}
        <a href="http://www.galateacasa.com.br/index.php/perfil/estudio-galatea">{{ambiance.user.name}} {{ambiance.user.surname}}</a>
    </h2>
    <figure class="main-image">
        <img ng-src="{{ambiance.image}}">
    </figure>
    <section class="vertical-slider">
        <h2>Produtos neste ambiente</h2>
        <div id="ambiance-vertical-slider">
            <div class="content">
                <ul>
                    <li ng-repeat="product in ambiance.products">
                        <a ng-href="#/produto/{{product.slug}}?ambiente={{ambiance.slug}}" target="_blank">
                            <img alt="" ng-src="{{product.images[0].replace('upload/', 'upload/c_scale,w_100/')}}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
