<nav class="grid_12">
    <ul class="nav-organize">
        <li>organizar por:</li>
        <li class="sub-nav">
            <a class="sort-link">CATEGORIAS</a>
            <ul>
                <li ng-repeat="category in categories">
                    <a class="padd-first" ng-href="#/inspire-me/categorias/{{category._id}}">{{category.name}}</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="padd-first" ng-href="#/inspire-me">TUDO</a>
        </li>
        <li>
            <a class="padd-first" ng-href="#/inspire-me">SEGUINDO</a>
        </li>
        <li>
            <a class="padd-first" ng-href="#/inspire-me">MINHAS</a>
        </li>
        <li>
            <a class="padd-first" ng-href="#/inspire-me">POPULARES</a>
        </li>
    </ul>
</nav>
<section class="grid_12">
    <nav class="brydcrumb">
        <ul>
            <li> Home </li>
            <li class="last"> Inspire-me </li>
        </ul>
    </nav>
</section>
<div class="overlay upload-page-popup" style="display: block;" ng-show="ambiance" ng-click="ambiance = null"></div>
<section class="pop-block-extended" style="display: block; position: fixed; top : 50px" ng-show="ambiance">
    <a class="close-button" ng-click="ambiance = null">Fechar</a>
    <h2>
        {{ambiance.name}}
        <a href="http://www.galateacasa.com.br/index.php/perfil/estudio-galatea">{{ambiance.user.name}} {{ambiance.user.surname}}</a>
    </h2>
    <figure class="main-image">
        <img ng-src="http://galateacasa-sp.s3-website-sa-east-1.amazonaws.com/images/ambiances/{{ambiance.image}}">
    </figure>
    <section class="vertical-slider">
        <h2>Produtos neste ambiente</h2>
        <div id="ambiance-vertical-slider">
            <div class="content">
                <ul>
                    <li ng-repeat="product in ambiance.products">
                        <a ng-href="#/produto/{{product.slug}}?ambiente={{ambiance.slug}}" target="_blank">
                            <img alt="" ng-src="http://galateacasa-sp.s3-website-sa-east-1.amazonaws.com/images/items/{{product.images[0].replace('.jpg', '_100_100.jpg')}}">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
<section class="upload-image container_12">
    <div id="ambiance-objects" class="masonry" style="position: relative; height: 4093px;">
        <div class="ambiance-object masonry-brick" ng-repeat="ambiance in ambiances">
            <h2>
                <a class="ambiance-info" ng-click="loadAmbiance(ambiance)" ambiance-id="100" style="cursor : pointer;"> {{ambiance.name}} </a>
            </h2>
            <span class="star">
                <a id="ambiances_vote_100" class="item_vote " data-vote-id="100" data-vote-type="ambiances" href="#"> </a>
            </span>
            <figure class="ambiance-image">
                <a href="#">
                    <img alt="" ng-src="http://galateacasa-sp.s3-website-sa-east-1.amazonaws.com/images/ambiances/{{ambiance.image}}">
                </a>
            </figure>
            <figure class="ambiance-user">
                <figcaption>
                    <a href="#/perfil/{{ambiance.user._id}}">{{ambiance.user.name}} {{ambiance.user.surname}}</a>
                    <mark>
                        <a ng-href="#/inspire-me/categorias/{{ambiance.category.slug}}">{{ambiance.category.name}}</a>
                    </mark>
                </figcaption>
                <a ng-href="#/perfil/{{ambiance.user._id}}">
                    <img alt="" src="http://galateacasa-sp.s3-website-sa-east-1.amazonaws.com/images/users/{{ambiance.user.photo}}">
                </a>
            </figure>
        </div>
    </div>
</section>
