<ng-include src="'/views/ambiance/menu.html'" ng-show="ambiance"></ng-include>
<section class="grid_12">
    <nav class="brydcrumb">
        <ul>
            <li> Home </li>
            <li class="last"> Inspire-me </li>
        </ul>
    </nav>
</section>
<section class="upload-image container_12">
    <div id="ambiance-objects" class="masonry" style="position: relative; height: 4093px;">
        <div class="ambiance-object masonry-brick" ng-repeat="ambiance in ambiances">
            <h2>
                <span class="ambiance-info" ng-click="openAmbiance(ambiance.slug)" ambiance-id="100" style="cursor : pointer;"> {{ambiance.name}} </span>
            </h2>
            <span class="star">
                <a id="ambiances_vote_100" class="item_vote " data-vote-id="100" data-vote-type="ambiances" href="#"> </a>
            </span>
            <figure class="ambiance-image">
                <span ng-click="openAmbiance(ambiance.slug)">
                    <img alt="" ng-src="{{ambiance.image.replace('upload/', 'upload/c_scale,w_280/')}}">
                </span>
            </figure>
            <figure class="ambiance-user">
                <figcaption>
                    <a href="#/perfil/{{ambiance.user._id}}">{{ambiance.user.name}} {{ambiance.user.surname}}</a>
                    <mark>
                        <a ng-href="#/inspire-me/categorias/{{ambiance.category.slug}}">{{ambiance.category.name}}</a>
                    </mark>
                </figcaption>
                <a ng-href="#/perfil/{{ambiance.user._id}}">
                    <img alt="" src="{{ambiance.user.photo}}">
                </a>
            </figure>
        </div>
    </div>
</section>
